# URL Web App Google Apps Script (diakhiri /exec)
NEXT_PUBLIC_GAS_URL=https://script.google.com/macros/s/XXXXXXXX/exec

# Client ID OAuth Google (dari Google Cloud Console)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=XXXXXXXX.apps.googleusercontent.com
